@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
body{
    font-family: 'Roboto';
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
header{
    width: 100vw;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #E5E5E5;
}
#menu{
    display: flex;
    flex-direction: row;
}
header a{
    text-decoration: none;
    font-weight: 500;
    font-size: 11px;
    color: #959BA4;
    margin-left: 20px;
}
#sign{
    font-size: 11px;
    background-color: white;
    font-weight: 500;
    cursor: pointer;
    padding: 7px;
    border: none;
    border-radius: 4px;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#first-converter-block, #second-converter-block{
    margin-top: 20px;
    padding-left: 10px;
    width: 260px;
    height: 105px;
    border: 1px solid #E5E5E5;
    border-radius: 3px;
}
input{
    font-size: 24px;
    font-weight: 700;
    margin-top: 27px;
    width: 225px;
    border: none;
    outline: 0;
}
section h2{
    font-size: 36px;
    font-weight: 700;
}
#conventer-blocks{
    font-size: 12px;
    display: flex;
}
option{
    display: inline-block;
    cursor: pointer;
    width: 65px;
    height: 28px;
    border: 1px solid #E5E5E5;
    background: none;
    text-align: center;
    margin: 0px;
    padding: 8px 0px 0px 0px;
    font-family: 'Roboto';
}
.rub1, .rub2{
 border-radius: 4px 0px 0px 4px;
}
.gbp1, .gbp2{
 border-radius: 0px 4px 4px 0px;
}
#first-container{
    margin-right: 100px;
    font-size: 14px;
}
#second-container p{
    font-size: 14px;
}
.menuIcon{
    width: 20px;
    height: 20px;
}
.dropbtn {
    background-color: #833AE0;
    border: none;
}
.dropdown {
    display: none;
    position: relative;
}
.dropdown-content {
    font-size: 9px;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}

select:focus{
    outline: none;
}
select{
    display: flex;
    text-align: center;
    display: inline-block;
    height: 44px;
    border: none;
    overflow: hidden;
}
.firstDiv, .secondDiv {
    margin-top: 15px;
    margin-left: 4px;
    padding: 0px;
    color: #C6C6C6;
}
option:checked { 
    background-color: #833AE0; 
    color: white;
}
@media screen and (max-width: 850px) {
    header p{
        font-weight: 500;
        font-size: 9px;
    }
    #sign{
        font-size: 9px;
        padding: 5px;
    }
    section h2{
        font-size: 34px;
    }
    .icon{
        width: 100%;
        height: 100%;
    }
    #sign{
        font-size: 10px;
        padding: 8px;
    }
}
@media screen and (max-width: 776px) {
    #menu{
        display: none;
    }
    .dropdown{
        display: block;
    }
    section h2{
        font-size: 31px;
    }
}
@media screen and (max-width: 678px) {
    section h2{
        font-size: 26px;
    }
    .dropdown{
        display: block;
    }
    #conventer-blocks{
       flex-direction: column;
       margin-left: 100px
    }
    #first-container{
        margin-bottom: 20px;
    }
    input{
        font-size: 20px;
    }
    section{
        margin-top: 20px;
        margin-left: 40px;
    }
}
@media screen and (max-width: 678px) {
    header{
        width: 115vw;
    }
    section{
        margin-bottom: 15px;
    }
    section h2{
        font-size: 28px;
        margin-left: 20px;
    }
}